<h1>Liste des tags</h1>

<a class="button" routerLink="/tags-add">Ajouter un tag</a>

<ul class="tag-list">
@for (tag of tags ; track tag.id) {
    <li>
        id: {{ tag.id }}, &#64;id: {{ tag['@id'] }}, name: {{ tag.name }}
        <a [routerLink]="['/tags-edit', tag.id]">Modifier</a>
        <button (click)="onDelete(tag.id ?? 0)">Supprimer</button>
    </li>
}
</ul>

<mat-paginator #paginator
               class="tag-paginator"
               (page)="handlePageEvent($event)"
               [length]="length"
               [pageSize]="3"
               [showFirstLastButtons]="true"
               [hidePageSize]="true"
               [pageIndex]="pageIndex"
               aria-label="Select page">
</mat-paginator>
